{% extends 'base.html' %}
{% block content %}
    {% include 'navbar.html' %}
    <table>
        <tr>
            <td><b><u>COURSES</u></b></td>
        </tr>
        {% for course in courses %}
            <tr>
                <td> <b>|</b>{{ course.name }} ({{ course.course_code }}) </td>
                <td><a href="{%url 'enroll' student_id=student.id course_id=course.id %}">Enroll</a></td>
            </tr>
        {% endfor %}
    </table> </br>
    <table>
        <tr>
            <th> {{ student.email }} </th>
        </tr>
        <tr>
            <td><b><u>COURSE</u></b></td>
            <td><b><u>STATUS</u></b></td>
        </tr>
        {% for enrollment in enrollments %}
            <tr>
                <td> <b>|</b>{{ enrollment.course.name }} ({{ enrollment.course.course_code }}) </td>
                {% if enrollment.status == 'enrolled' %}
                    <td><a href="{%url 'remove_enrollment' student_id=student.id course_id=enrollment.course.id %}">Remove</a></td>
                    <td><a href="{%url 'course_passed' student_id=student.id course_id=enrollment.course.id %}">Passed</a></td>
                {% else %}
                    <td>Already passed</td>
                    <td><a href="{%url 'enroll' student_id=student.id course_id=enrollment.course.id %}">Enroll</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    
{% endblock %}

---------------------------------------------------------------------------------------------------------------------------------------------
