{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>SkillUp</title>
        <!-- LOGIN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- INDEX -->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <!-- GENERAL CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css'%}">
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>


