{% extends 'base.html' %}
{% block content %}
<div>
    <div class="sidenav">
        <div class="login-main-text">
            <h1>SkillUp</h1></br></br>
            <blockquote class="blockquote">
                <p class="mb-0">"Tell me and I forget, teach me and I may remember, involve me and I learn."</p>
                <footer class="blockquote-footer text-white"><cite title="Source Title">Benjamin Franklin</cite></footer>
            </blockquote>
        </div>
        </div>
        <div class="main">
        <div class="col-md-7 col-sm-12">
            <div class="login-form rounded border border-dark">
                <form method="POST"> {% csrf_token %}
                    <div class="form-group">
                    <label class="m-1">Username</label>
                    <input type="text" class="form-control" placeholder="Enter username..." name="email">
                    </div>
                    <div class="form-group">
                    <label class="m-1">Password</label>
                    <input type="password" class="form-control" placeholder="Enter your password..." name="password">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-black text-center mt-4 mb-2 w-100" >Login</button> </br>
                        <button class="btn btn-black w-100"><a href="{%url 'register' %}">Register</a></button>
                    </div>
                </form>
            </div>
        </div>
</div>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
{% endblock %}


