{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <h2>Register</h2>
    <form method="POST"> {% csrf_token %}
      {% for field in form %}
        {% if field is form.role or field is form.status %}
          <div class="select-field">
            {% if field is form.role %}
              {% if request.user.is_admin %}
                {{ field }}
              {% endif %}
            {% else %}
              {{ field }}
            {% endif %}
          </div>
        {% else %}
          <div class="txt-field">
            {{ field }}
            <span></span>
            <label>{{ field.label_tag }}</label>
          </div>
        {% endif %}
      {% endfor %}
      <input class="mt-5" type="submit" value="Save"/>
    </form>
  </div>
{% endblock %}


