{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <h2>Register</h2>
    <form method="POST"> {% csrf_token %}
      {% for field in form %}
        {% for error in field.errors %}
          <div class="alert alert-danger" role="alert">
            {{ error }} {{ field.label_tag }}
          </div>
        {% endfor %}
        {% if field is form.role or field is form.status %}
          <div class="select-field">
            {% if field is form.role %}
              {% if request.user.is_admin %}
                {{ field }}
              {% endif %}
            {% else %}
              {{ field }}
            {% endif %}
          </div>
        {% else %}
          <div class="txt-field">
            {{ field }}
            <span></span>
            <label>{{ field.label_tag }}</label>
          </div>
        {% endif %}
      {% endfor %}
      <input class="mt-5 mb-3" type="submit" value="Save"/>
      {% if request.user.is_admin %}
        <button class="btn-edit mb-2"><a href="{% url 'users' %}">Go back</a></button>
      {% else %}
        <button class="btn-edit mb-2"><a href="{% url 'login' %}">Go back</a></button>
      {% endif %}
    </form>
  </div>
{% endblock %}


